@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="catalog-container"></div>






@section Styles {
    <link rel="stylesheet" href="/css/catalog.css">
}

@section Scripts {
    <script src="/js/catalog.js"></script>
}
