

#catalog-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    border-radius:0px;
    box-sizing:none;
    margin-bottom:50px;
}



.btn-info{
    width:100%
}

.deletetask{
    margin:auto;
    width:100%
}

.card {
    border: 0px solid rgba(0,0,0,.125) !important;
    margin-bottom:25px;
    display:inline-block !important;
    width:530px;
    height:400px;
}

.container{
    margin-left:0px !important;
    margin-right:0px !important;
}

a {text-decoration:none;}

.card-text{
    padding:0 !important;
    text-align:justify;
    border-bottom:1px solid #DAA520;
    width:30%;
}

.card-title a{
    text-transform:uppercase !important;
    color:#007bff;
}

.card-title a:hover{
    text-transform:uppercase !important;
    text-decoration:none !important;
    color:#007bff;
}

.card-location{
    color:#666666;
    font-size:15px;
    font-weight:400;
}

.card-img-top{
    height:300px;
    width:510px;
}

.detailslist{
    display:flex !important;
    flex-direction:row !important;
}

.detailsitem1{
    flex:1;
    width:33.3%;
    border-left:1px solid black;
    text-align:center;

}
.detailsitem2{
    flex:1;
    width:33.3%;
    border-left:1px solid black;
    border-right:1px solid black;
    text-align:center;
}
.detailsitem3{
    flex:1;
    width:33.3%;
    border-right:1px solid black;
    text-align:center;
}